@using BillingPayment.Models

<tr>
    <td>@(Detail.TransactionDate?.ToString("MM/dd/yyyy") ?? "")</td>
    <td>@Detail.CertPolNo</td>
    <td>@Detail.Description</td>
    <td>@Detail.TransactionAmount.ToString("C")</td>
    <td style="color:@(Detail.CreditsAndPaymentsApplied < 0 ? "red" : "inherit")">
        @Detail.CreditsAndPaymentsApplied.ToString("C")
    </td>
    <td>@Detail.MinimumDue.ToString("C")</td>
</tr>

@code {
    [Parameter] public InvoiceSummaryDetail Detail { get; set; } = default!;
}